{{extend 'layout.html'}}
{{include 'api.html'}}

<div class="body">
	<div class="heading">Request Parameter</div>
	<div class="params">
		<div class="param">termLimit = 
			<select onchange="onSelectParams(this)">
				<option value="{{response.write(QueryString('termLimit','5'),escape=False)}}" {{if params['termLimit'] == 5:}}selected="selected"{{pass}}>5</option>
				<option value="{{response.write(QueryString('termLimit','10'),escape=False)}}" {{if params['termLimit'] == 10:}}selected="selected"{{pass}}>10</option>
				<option value="{{response.write(QueryString('termLimit','20'),escape=False)}}" {{if params['termLimit'] == 20:}}selected="selected"{{pass}}>20</option>
				<option value="{{response.write(QueryString('termLimit','50'),escape=False)}}" {{if params['termLimit'] == 50:}}selected="selected"{{pass}}>50</option>
				<option value="{{response.write(QueryString('termLimit','100'),escape=False)}}" {{if params['termLimit'] == 100:}}selected="selected"{{pass}}>100</option>
			</select>
		</div>
	</div>

	<div class="heading">Server Response
		<span class="extra">(<a href="{{response.write('http://'+request.env['HTTP_HOST']+request.env['PATH_INFO']+QueryString('format','json'))}}">Display as a JSON object</a>)</span>
	</div>
	<div class="content">{{=content}}</div>
</div>
