{{extend 'template.html'}}
{{include 'attribute.html'}}

<div class="body">
	<div class="heading">Request Parameters</div>
	<div class="params">
		<div class="param">termLimit = 
			<select onchange="onSelectParam(this)">
				{{for n in [5,10,20,50,100,200,500]:}}
					<option value="{{response.write(GetURL({'termLimit':n}),escape=False)}}" {{if params['termLimit'] == n:}}selected="selected"{{pass}}>{{=n}}</option>
				{{pass}}
			</select>
		</div>
		<div class="param">termOffset = 
			<select onchange="onSelectParam(this)">
				{{for n in range(0,100,5):}}
					<option value="{{response.write(GetURL({'termOffset':n}),escape=False)}}" {{if params['termOffset'] == n:}}selected="selected"{{pass}}>{{=n}}</option>
				{{pass}}
			</select>
		</div>
		<div class="extra"><i>Or simply type in a URL into your browser</i> &nbsp; <i class="fa fa-level-up fa-2x"></i></div>
	</div>

	<div class="heading">Server Response
		<span class="format">(
			{{if configs['is_text']:}}<b>Text format</b>{{else:}}<a href="{{=GetURL({'format':None})}}">Text format</a>{{pass}} | 
			{{if configs['is_graph']:}}<b>Graph format</b>{{else:}}<a href="{{=GetURL({'format':'graph'})}}">Graph format</a>{{pass}} | 
			<a href="{{=GetURL({'format':'json'})}}">JSON object</a> | 
			<a href="{{=GetURL({'format':'lyra'})}}">Lyra table</a>
		)</span>
	</div>

{{if configs['is_text']:}}
	<div class="content">{{=content}}</div>
{{pass}}
{{if configs['is_graph']:}}
	<div class="content"><div id="view" class="view"></div></div>
{{pass}}

{{if configs['is_graph']:}}
<script type="text/javascript">
var spec = {
  "width": 1440,
  "height": 360,
  "padding": "auto",
  "data": [
    {
      "name": "pipeline_0"
    }
  ],
  "scales": [],
  "marks": [
    {
      "properties": {
        "enter": {
          "x": {
            "value": 0
          },
          "width": {
            "value": 360
          },
          "y": {
            "value": 0
          },
          "height": {
            "value": 1440
          },
          "clip": {
            "value": 0
          },
          "fill": {
            "value": "#ffffff"
          },
          "fillOpacity": {
            "value": 0
          },
          "stroke": {
            "value": "#000000"
          },
          "strokeWidth": {
            "value": 0
          }
        }
      },
      "scales": [
        {
          "type": "linear",
          "points": true,
          "nice": true,
          "padding": 0,
          "zero": true,
          "name": "pipeline_0_scale_r1396474615824",
          "domain": {
            "data": "pipeline_0",
            "field": "data.value"
          },
          "inheritFromGroup": false,
          "range": [
            -1,
            1000
          ]
        },
        {
          "type": "linear",
          "points": true,
          "nice": true,
          "padding": 0,
          "zero": true,
          "name": "pipeline_0_scale_r1396474630516",
          "domain": {
            "data": "pipeline_0",
            "field": "data.topic"
          },
          "inheritFromGroup": false,
          "range": "width"
        },
        {
          "type": "ordinal",
          "points": true,
          "nice": true,
          "padding": 0,
          "zero": true,
          "name": "pipeline_0_scale_r1396474634329",
          "domain": {
            "data": "pipeline_0",
            "field": "data.term"
          },
          "inheritFromGroup": false,
          "range": "height"
        }
      ],
      "axes": [
        {
          "type": "x",
          "orient": "top",
          "scale": "pipeline_0_scale_r1396474630516",
          "title": ".",
          "layer": "back",
          "ticks": 20,
          "tickSize": 6,
          "titleOffset": 35,
          "grid": true,
          "properties": {
            "ticks": {
              "stroke": {
                "value": "#000"
              },
              "strokeWidth": {
                "value": "0"
              }
            },
            "labels": {
              "fontSize": {
                "value": 11
              },
              "font": {
                "value": "Helvetica"
              },
              "angle": {
                "value": 0
              },
              "fill": {
                "value": "#000"
              }
            },
            "title": {
              "font": {
                "value": "Helvetica"
              },
              "fontSize": {
                "value": 11
              },
              "fontWeight": {
                "value": "bold"
              },
              "fill": {
                "value": "#000"
              }
            },
            "axis": {
              "stroke": {
                "value": "#000"
              },
              "strokeWidth": {
                "value": "0"
              }
            },
            "grid": {
              "stroke": {
                "value": "#d8d8d8"
              },
              "strokeWidth": {
                "value": 1
              }
            }
          }
        },
        {
          "type": "y",
          "orient": "left",
          "scale": "pipeline_0_scale_r1396474634329",
          "title": ".",
          "layer": "back",
          "ticks": 160,
          "tickSize": 6,
          "titleOffset": 35,
          "grid": true,
          "properties": {
            "ticks": {
              "stroke": {
                "value": "#000"
              },
              "strokeWidth": {
                "value": "0"
              }
            },
            "labels": {
              "fontSize": {
                "value": 11
              },
              "font": {
                "value": "Helvetica"
              },
              "angle": {
                "value": 0
              },
              "fill": {
                "value": "#000"
              }
            },
            "title": {
              "font": {
                "value": "Helvetica"
              },
              "fontSize": {
                "value": 11
              },
              "fontWeight": {
                "value": "bold"
              },
              "fill": {
                "value": "#000"
              }
            },
            "axis": {
              "stroke": {
                "value": "#000"
              },
              "strokeWidth": {
                "value": "0"
              }
            },
            "grid": {
              "stroke": {
                "value": "#d8d8d8"
              },
              "strokeWidth": {
                "value": 1
              }
            }
          }
        }
      ],
      "marks": [
        {
          "properties": {
            "enter": {
              "x": {
                "scale": "pipeline_0_scale_r1396474630516",
                "field": "data.topic"
              },
              "y": {
                "scale": "pipeline_0_scale_r1396474634329",
                "field": "data.term"
              },
              "size": {
                "scale": "pipeline_0_scale_r1396474615824",
                "field": "data.value"
              },
              "shape": {
                "value": "circle"
              },
              "fill": {
                "value": "#4682b4"
              },
              "fillOpacity": {
                "value": 1
              },
              "stroke": {
                "value": "#000000"
              },
              "strokeWidth": {
                "value": 0.25
              }
            }
          },
          "name": "symbol_1396474589329",
          "type": "symbol",
          "from": {
            "data": "pipeline_0"
          }
        }
      ],
      "name": "layer_0",
      "type": "group",
      "from": {}
    }
  ]
};

var data = {{response.write(0,escape=False)}};

vg.parse.spec( spec, function( chart ) {
	var view = chart({ el:"#view", data:data }).update();
});
</script>
{{pass}}

</div>
