{{extend 'template.html'}}
{{include 'attribute.html'}}

<div class="body">
	<div class="heading">Server Response
		<span class="format">(
{{if configs['is:text']:}}<b>Text format</b>{{else:}}<a href="http://{{=configs['url:text']}}">Text format</a>{{pass}} | 
{{if configs['is:graph']:}}<b>Graph format</b>{{else:}}<a href="http://{{=configs['url:graph']}}">Graph format</a>{{pass}} | 
{{if configs['is:json']:}}<b>JSON object</b>{{else:}}<a href="http://{{=configs['url:json']}}">JSON object</a>{{pass}}
		)</span>
	</div>

{{if configs['is:text']:}}
	<div class="content">{{=content}}</div>
{{pass}}
{{if configs['is:graph']:}}
	<div class="content"><div id="view" class="view"></div></div>
{{pass}}
</div>
