{{extend 'template.html'}}
{{include 'attribute.html'}}

<div class="body">
	<div class="heading">Server Response
		<span class="format">(
			{{if configs['is_text']:}}<b>Text format</b>{{else:}}<a href="{{=GenerateURL({'format':None})}}">Text format</a>{{pass}} | 
			{{if configs['is_graph']:}}<b>Graph format</b>{{else:}}<a href="{{=GenerateURL({'format':'graph'})}}">Graph format</a>{{pass}} | 
			<a href="{{=GenerateURL({'format':'json'})}}">Save as JSON</a> | 
			<a id="SaveAsPNG" style="cursor:pointer">Save as PNG</a> 
		)</span>
	</div>

{{if configs['is_text']:}}
	<div class="content">{{=content}}</div>
{{pass}}
{{if configs['is_graph']:}}
	<div class="content"><div id="view" class="view"></div></div>
{{pass}}
</div>

<script type="text/javascript">
var spec = {
	"width": 120 + 16 * {{=TopicCount}},
	"height": 120 + 16 * {{=TopicCount}},
	"padding": {
		"top" : 110,
		"bottom" : 10,
		"left" : 110,
		"right" : 10
	},
	"data": [
		{
			"name": "TopicCooccurrence"
		},
		{
			"name": "TopicIndex"
		}
	],
	"scales": [],
	"marks": [
		{
			"properties": {
				"enter": {
					"x": {
						"value": 0
					},
					"width": {
						"value": 16 * {{=TopicCount}}
					},
					"y": {
						"value": 0
					},
					"height": {
						"value": 16 * {{=TopicCount}}
					},
					"clip": {
						"value": 0
					},
					"fill": {
						"value": "#ffffff"
					},
					"fillOpacity": {
						"value": 0
					},
					"stroke": {
						"value": "#000000"
					},
					"strokeWidth": {
						"value": 0
					}
				}
			},
			"scales": [
				{
					"type": "ordinal",
					"points": true,
					"nice": true,
					"padding": 0,
					"zero": true,
					"name": "TopicCooccurrence_scale_Terms",
					"domain": {
						"data": "TopicIndex",
						"field": "data.index"
					},
					"inheritFromGroup": false,
					"range": "width"
				},
				{
					"type": "linear",
					"points": true,
					"nice": true,
					"padding": 0,
					"zero": true,
					"name": "TopicCooccurrence_scale_Values",
					"domain": {
						"data": "TopicCooccurrence",
						"field": "data.value"
					},
					"inheritFromGroup": false,
					"range": [
						50,
						1000
					]
				}
			],
			"axes": [
				{
					"type": "x",
					"orient": "top",
					"scale": "TopicCooccurrence_scale_Terms",
					"layer": "back",
					"ticks": 0,
					"tickSize": 12,
					"titleOffset": 0,
					"grid": true,
					"properties": {
						"ticks": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"labels": {
							"fontSize": {
								"value": 9.5
							},
							"font": {
								"value": "Verdana"
							},
							"fill": {
								"value": "#444"
							},
							"text": {
								"field": "data"
							},
							"angle": {
								"value": -60
							},
							"dy": {
								"value": 7
							}
						},
						"axis": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"grid": {
							"stroke": {
								"value": "#ddd"
							},
							"strokeWidth": {
								"value": 1
							}
						}
					}
				},
				{
					"type": "y",
					"orient": "left",
					"scale": "TopicCooccurrence_scale_Terms",
					"layer": "back",
					"ticks": 10,
					"tickSize": 12,
					"titleOffset": 0,
					"grid": true,
					"properties": {
						"ticks": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"labels": {
							"fontSize": {
								"value": 9.5
							},
							"font": {
								"value": "Verdana"
							},
							"angle": {
								"value": 0
							},
							"fill": {
								"value": "#000"
							}
						},
						"axis": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"grid": {
							"stroke": {
								"value": "#ddd"
							},
							"strokeWidth": {
								"value": 1
							}
						}
					}
				}
			],
			"marks": [
				{
					"properties": {
						"enter": {
							"x": {
								"scale": "TopicCooccurrence_scale_Terms",
								"field": "data.firstTopic"
							},
							"y": {
								"scale": "TopicCooccurrence_scale_Terms",
								"field": "data.secondTopic"
							},
							"size": {
								"scale": "TopicCooccurrence_scale_Values",
								"field": "data.value"
							},
							"shape": {
								"value": "circle"
							},
							"fillOpacity": {
								"value": 0.25
							},
							"strokeWidth": {
								"value": 0.5
							}
						},
						"update": {
							"fill": {
								"value": "#999"
							},
							"stroke": {
								"value": "#999"
							}
						},
						"hover": {
							"fill": {
								"value": "#d62728"
							},
							"stroke": {
								"value": "#d62728"
							}
						}
					},
					"name": "symbol_1396492661741",
					"type": "symbol",
					"from": {
						"data": "TopicCooccurrence"
					}
				}
			],
			"name": "layer_0",
			"type": "group",
			"from": {}
		}
	]
};

var data = {
	"TopicCooccurrence" : {{response.write(AsJSON(TopicCooccurrence),escape=False)}},
	"TopicIndex" : {{response.write(AsJSON(TopicIndex),escape=False)}}
};

vg.parse.spec( spec, function( chart ) {
	var view = chart({ el:"#view", data:data }).update();
	var png = $('#view canvas')[0].toDataURL('image/png');
	d3.select("#SaveAsPNG")
		.attr("href", png)
		.attr("download", "TopicCooccurrence.png");
});
</script>
