{{extend 'template.html'}}
{{include 'attribute.html'}}

<div class="body">
	<div class="heading">Server Response
		<span class="format">(
			{{if configs['is_text']:}}<b>Text format</b>{{else:}}<a href="{{=GetURL({'format':None})}}">Text format</a>{{pass}} | 
			{{if configs['is_graph']:}}<b>Graph format</b>{{else:}}<a href="{{=GetURL({'format':'graph'})}}">Graph format</a>{{pass}} | 
			<a href="{{=GetURL({'format':'json'})}}">JSON object</a> | 
			<a href="{{=GetURL({'format':'lyra','lyra':'TopicCovariance'})}}">Lyra table</a>
		)</span>
	</div>

{{if configs['is_text']:}}
	<div class="content">{{=content}}</div>
{{pass}}
{{if configs['is_graph']:}}
	<div class="content"><div id="view" class="view"></div></div>
{{pass}}
</div>
