{{extend 'template.html'}}
{{include 'attribute.html'}}

<div class="body">
	<div class="heading">Request Parameters</div>
	<div class="params">
		<div class="param">termLimit = 
			<select onchange="onSelectParam(this)">
				{{for n in [5,10,20,50,100,200,500]:}}
					<option value="{{WriteURL({'termLimit':n})}}" {{if params['termLimit'] == n:}}selected="selected"{{pass}}>{{=n}}</option>
				{{pass}}
			</select>
		</div>
		<div class="param">termOffset = 
			<select onchange="onSelectParam(this)">
				{{for n in range(0,100,5):}}
					<option value="{{WriteURL({'termOffset':n})}}" {{if params['termOffset'] == n:}}selected="selected"{{pass}}>{{=n}}</option>
				{{pass}}
			</select>
		</div>
		<div class="param">topicIndex = 
			<select onchange="onSelectParam(this)">
				<option value="{{WriteURL({'topicIndex':None})}}" {{if params['topicIndex'] is None:}}selected="selected"{{pass}}>&mdash;</option>
				{{for n in range(0,TopicMaxCount):}}
					<option value="{{WriteURL({'topicIndex':n})}}" {{if params['topicIndex'] == n:}}selected="selected"{{pass}}>{{=n}}</option>
				{{pass}}
			</select>
		</div>
		<div class="extra"><i>Or simply type in a URL into your browser</i> &nbsp; <i class="fa fa-level-up fa-2x"></i></div>
	</div>

	<div class="heading">Server Response
		<span class="format">(
			{{if configs['is_text']:}}<b>Text format</b>{{else:}}<a href="{{=GenerateURL({'format':None})}}">Text format</a>{{pass}} | 
			{{if configs['is_graph']:}}<b>Graph format</b>{{else:}}<a href="{{=GenerateURL({'format':'graph'})}}">Graph format</a>{{pass}} | 
			<a href="{{=GenerateURL({'format':'json'})}}">Save as JSON</a> | 
			<a href="{{=GenerateURL({'format':'csv'})}}">Save as CSV</a> | 
			<a href="{{=GenerateURL({'format':'tsv'})}}">Save as TSV</a> | 
			<a id="SaveAsPNG" style="cursor:pointer">Save as PNG</a> 
		)</span>
	</div>

{{if configs['is_text']:}}
	<div class="content">{{=content}}</div>
{{pass}}
{{if configs['is_graph']:}}
	<div class="content"><div id="view" class="view"></div></div>
{{pass}}
</div>


<script type="text/javascript">
var spec = {
	"width": 120 + 16 * {{=TopicCount}},
	"height": 50 + 16 * {{=TermCount}},
	"padding": {
		"top" : 40,
		"bottom" : 10,
		"left" : 110,
		"right" : 10
	},
	"data": [
		{
			"name": "TermIndex"
		},
		{
			"name": "TopicIndex"
		},
		{
			"name": "TermTopicMatrix"
		}
	],
	"scales": [],
	"marks": [
		{
			"properties": {
				"enter": {
					"x": {
						"value": 0
					},
					"width": {
						"value": 16 * {{=TopicCount}}
					},
					"y": {
						"value": 0
					},
					"height": {
						"value": 16 * {{=TermCount}}
					},
					"clip": {
						"value": 0
					},
					"fill": {
						"value": "#fff"
					},
					"fillOpacity": {
						"value": 0
					},
					"stroke": {
						"value": "#000000"
					},
					"strokeWidth": {
						"value": 0
					}
				}
			},
			"scales": [
				{
					"type": "linear",
					"points": true,
					"nice": true,
					"padding": 0,
					"zero": true,
					"name": "TermTopicMatrix_scale_CircleArea",
					"domain": {
						"data": "TermTopicMatrix",
						"field": "data.value"
					},
					"inheritFromGroup": false,
					"range": [
						-1,
						1000
					]
				},
				{
					"type": "linear",
					"points": true,
					"nice": true,
					"padding": 0,
					"zero": true,
					"name": "TermTopicMatrix_scale_Topics",
					"domain": {
						"data": "TopicIndex",
						"field": "data.index"
					},
					"inheritFromGroup": false,
					"range": "width"
				},
				{
					"type": "ordinal",
					"points": true,
					"nice": true,
					"padding": 0,
					"zero": true,
					"name": "TermTopicMatrix_scale_Terms",
					"domain": {
						"data": "TermIndex",
						"field": "data.text"
					},
					"inheritFromGroup": false,
					"range": "height"
				}
			],
			"axes": [
				{
					"type": "x",
					"orient": "top",
					"scale": "TermTopicMatrix_scale_Topics",
					"layer": "back",
					"ticks": 20,
					"tickSize": 12,
					"titleOffset": 0,
					"grid": true,
					"properties": {
						"ticks": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"labels": {
							"fontSize": {
								"value": 9.5
							},
							"font": {
								"value": "Verdana"
							},
							"fill": {
								"value": "#444"
							},
							"text": {
								"field": "data"
							},
							"angle": {
								"value": -60
							},
							"dy": {
								"value": 7
							}
						},
						"axis": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"grid": {
							"stroke": {
								"value": "#ddd"
							},
							"strokeWidth": {
								"value": 1
							}
						}
					}
				},
				{
					"type": "y",
					"orient": "left",
					"scale": "TermTopicMatrix_scale_Terms",
					"layer": "back",
					"ticks": 160,
					"tickSize": 12,
					"titleOffset": 0,
					"grid": true,
					"properties": {
						"ticks": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"labels": {
							"fontSize": {
								"value": 9.5
							},
							"font": {
								"value": "Verdana"
							},
							"angle": {
								"value": 0
							},
							"fill": {
								"value": "#444"
							}
						},
						"axis": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 0
							}
						},
						"grid": {
							"stroke": {
								"value": "#ddd"
							},
							"strokeWidth": {
								"value": 1
							}
						}
					}
				}
			],
			"marks": [
				{
					"properties": {
						"enter": {
							"x": {
								"scale": "TermTopicMatrix_scale_Topics",
								"field": "data.topic"
							},
							"y": {
								"scale": "TermTopicMatrix_scale_Terms",
								"field": "data.term"
							},
							"size": {
								"scale": "TermTopicMatrix_scale_CircleArea",
								"field": "data.value"
							},
							"shape": {
								"value": "circle"
							},
							"fillOpacity": {
								"value": 0.25
							},
							"strokeWidth": {
								"value": 0.5
							}
						},
						"update": {
							"fill": {
								"value": "#999"
							},
							"stroke": {
								"value": "#999"
							}
						},
						"hover": {
							"fill": {
								"value": "#d62728"
							},
							"stroke": {
								"value": "#d62728"
							}
						}
					},
					"name": "symbol_1396474589329",
					"type": "symbol",
					"from": {
						"data": "TermTopicMatrix"
					}
				}
			],
			"name": "layer_0",
			"type": "group",
			"from": {}
		}
	]
};

var data = {
	"TermTopicMatrix" : {{WriteJSON(TopTerms)}},
	"TermIndex" : {{WriteJSON(TermIndex)}},
	"TopicIndex" : {{WriteJSON(TopicIndex)}}
};

vg.parse.spec( spec, function( chart ) {
	view = chart({ el:"#view", data:data }).update();
	var png = $('#view canvas')[0].toDataURL('image/png');
	d3.select("#SaveAsPNG")
		.attr("href", png)
		.attr("download", "TermTopicMatrix.png");
});
</script>
