<html>
<head>
	<meta charset="utf-8">
	<title>Interactive Topic Modeling Visualization</title>
	<link rel="stylesheet" href="{{=URL('static','css/common.css')}}" />
	<link rel="stylesheet" href="{{=URL('static/TermTopicMatrix3','css/MatrixView.css')}}"/>
	<link rel="stylesheet" href="{{=URL('static/TermTopicMatrix3','css/font-awesome.min.css')}}" />
{{include 'py_functions.py'}}
<script type="text/javascript">{{include 'js_functions.js'}}</script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/underscore.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/backbone.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/d3.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/common.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/CoreModel.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/CoreView.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixState.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_Precomputations.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_Visibilities.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_Styles.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_Values.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_Positions.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_AnnotationControls.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixModel_SelectionGroups.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixInteractions.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixView.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static/TermTopicMatrix3','js/MatrixSelections.js')}}"></script>
	
<style type="text/css">
body, div, p {
	border: 0;
	padding: 0;
	margin: 0
}
div.body {
	padding: 10px;
	font-family: Gill Sans;
	font-size: 10pt;
	color: #333;
}
div.container {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding: 10px;
	border: 1px solid #999;
	box-shadow: 2px 2px 15px #ccc;
	background: #eee;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: 000;
	text-decoration: underline;
}
</style>
<script type="text/javascript">
var init = function() {
	var state = new MatrixState();
	var model = new MatrixModel({ state : state });
	var view = new MatrixView({ model : model });
	var selections = new MatrixSelections({ model : model });
	var data = {}
	var fileCount = 0;
	d3.json( "/{{=configs['dataset']}}/{{=configs['model']}}/GetTerms", function(d) { data.terms = d; loaded(data) } );
	d3.json( "/{{=configs['dataset']}}/{{=configs['model']}}/GetTopics", function(d) { data.topics = d; loaded(data) } );
	d3.json( "/{{=configs['dataset']}}/{{=configs['model']}}/GetTermTopicMatrix", function(d) { data.matrix = d; loaded(data) } );
	function loaded( data ) {
		if ( (++fileCount) < 3 ) { return }
		var rowDims = data.terms.length;
		var columnDims = data.topics.length;
		state.importEntries( "data", data.matrix, rowDims, columnDims )
			.allRowLabels( data.terms )
			.allColumnLabels( data.topics );
	};
};
$(document).ready(init);
</script>
</head>
<body>
	<div class="head">
		<div class="title">Termite Data Server</div>
		{{include 'select_server.html'}}
		{{include 'select_dataset.html'}}
		{{include 'select_model.html'}}
	</div>
	<div class="body">
		<table>
			<tr>
				<td style="vertical-align: top"><div class="container MatrixView"></div></td>
				<td style="vertical-align: top"><div class="container MatrixSelections"></div></td>
			</tr>
		</table>
		<p><a href="http://jason.chuang.ca" target="_blank">Jason Chuang</a>, 
			<a href="http://vis.stanford.edu" target="_blank">Vis</a> &amp; 
			<a href="http://nlp.stanford.edu" target="_blank">NLP</a>, 
			<a href="http://cs.stanford.edu" target="_blank">Stanford University</a>, 2013
		</p>
		<img id="EmptyImage" src="">
	</div>
</body>
</html>