.DS_Store
.gitignore~
*.py~
*.pyc
*.sh~
/externals/
/tools/gensim*
/tools/stm*
/tools/treetm*
/tools/stmt*
/apps/
/data/
/web2py/httpserver.log
/web2py/httpserver.pid
/web2py/parameters_*.py
/web2py/welcome.w2p
/web2py/NEWINSTALL
/web2py/applications/*/errors
/web2py/applications/*/sessions
