.DS_Store
.gitignore~
.Rapp.history
*.py~
*.pyc
*.sh~
/apps/*/errors/
/apps/*/sessions/
/externals/
/data/
/tools/
/sync/
/web2py/httpserver.log
/web2py/httpserver.pid
/web2py/parameters_*.py
/web2py/welcome.w2p
/web2py/NEWINSTALL
