.DS_Store
.gitignore~
.Rapp.history
*.py~
*.pyc
*.sh~
/*_src/cron/
/*_src/databases/
/*_src/errors/
/*_src/languages/
/*_src/private/
/*_src/sessions/
/*_src/uploads/
/externals/
/data/
/tools/
/sync/
/web2py/httpserver.log
/web2py/httpserver.pid
/web2py/parameters_*.py
/web2py/welcome.w2p
/web2py/NEWINSTALL
