@keyframes load {
  0% {
    color: #ecf0f1; }

  25% {
    color: #bdc3c7; }

  50% {
    color: #7f8c8d; }

  75% {
    color: #bdc3c7; }

  100% {
    color: #ecf0f1; } }

@-webkit-keyframes load {
  0% {
    color: #ecf0f1; }

  25% {
    color: #bdc3c7; }

  50% {
    color: #7f8c8d; }

  75% {
    color: #bdc3c7; }

  100% {
    color: #ecf0f1; } }

.ui-loader {
  animation: load 2s infinite ease-out;
  -webkit-animation: load 2s infinite ease-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 200px;
  width: 100%;
  height: 100%;
  font-size: 48px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.7); }

* {
  box-sizing: border-box; }

body {
  font-size: 80%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #1abc9c; }

.header {
  font-weight: 300;
  font-size: 2em;
  margin-left: 10px; }
.header .light {
    text-transform: lowercase;
    font-size: 1em; }

.circle {
  fill: #bdc3c7;
  opacity: 0.3;
  stroke-width: 4px; }

.node {
  cursor: pointer; }
  .node.new .circle {
    fill: #8e44ad; }
  .node.selected .circle {
    stroke: #3498db;
    stroke-width: 4px; }
  .node.hovered .circle {
    fill: #3498db; }

#itm-continue-button {
  width: 100%;
  text-align: center;
  font-size: 24pt;
  font-weight: 300;
  color: #7f8c8d;
  cursor: pointer; }
  #itm-continue-button:hover {
    color: #bdc3c7; }

#refresh-model {
  display: inline-block;
  padding: 5px;
  color: #1abc9c;
  border: solid 1px #1abc9c;
  cursor: pointer; }
  #refresh-model:hover {
    color: #ecf0f1;
    background-color: #1abc9c; }

.term {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  fill: #34495e; }

.link {
  stroke: #7f8c8d;
  z-index: 0;
  stroke-opacity: .8; }

#GIB {
  float: left;
  width: 1250px; }

.topic {
  width: 225px;
  height: 225px;
  float: left;
  border: solid 1px #34495e;
  margin: 5px; }

.topic-hovered .topic-header {
  background-color: #1abc9c; }

.topic-header {
  -webkit-transition: width 0.25s;
  -moz-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
  position: absolute;
  width: 100px;
  padding: 2px;
  padding-left: 15px;
  text-align: left;
  background-color: #95a5a6;
  color: #ecf0f1;
  opacity: 0.7; }
  .topic-header .icon.active:hover {
    background-color: #16a085; }
  .topic-header .icon.active.selected {
    background-color: #16a085; }
  .topic-header:hover {
    width: 223px; }
    .topic-header:hover .topic-edit {
      display: inline; }
  .topic-header.edit {
    padding: 2px;
    border: solid 2px #2980b9;
    background-color: #3498db;
    width: 223px; }
    .topic-header.edit .icon.active:hover {
      background-color: #2980b9; }
    .topic-header.edit .icon.active.selected {
      background-color: #2980b9; }
    .topic-header.edit .topic-toolbox, .topic-header.edit .topic-edit {
      display: inline; }
    .topic-header.edit .topic-name-input {
      width: 100px; }
    .topic-header.edit .topic-name {
      display: none; }

.icon {
  padding: 3px; }
  .icon.active {
    cursor: pointer;
    color: #ecf0f1; }
    .icon.active:hover {
      background-color: #bdc3c7; }
    .icon.active.selected {
      background-color: #bdc3c7; }
  .icon.inactive {
    color: #bdc3c7; }

.topic-edit {
  float: right; }

.topic-edit, .topic-toolbox {
  display: none; }

.topic-footer {
  display: inline-block;
  position: relative;
  top: -25px;
  background-color: #7f8c8d;
  opacity: 0.7;
  width: 223px; }

.topic-edit-complete {
  float: right; }

input {
  outline: 0;
  border: none; }

.topic-edit-instructions {
  background-color: #7f8c8d;
  color: #ecf0f1; }

.topic-word-input {
  background-color: #7f8c8d;
  color: #ecf0f1;
  padding: 2px; }
  .topic-word-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bdc3c7; }
  .topic-word-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdc3c7; }
  .topic-word-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdc3c7; }
  .topic-word-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bdc3c7; }

/*.topic-cue {
	position:absolute;
	padding:5px;
	width:10px;
	color: $wetasphalt;
	background-color:$wetasphalt;
	opacity: 1.0;
}*/
.topic-name-input {
  overflow: none;
  width: 0;
  color: #ecf0f1;
  background-color: #3498db; }
  .topic-name-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bdc3c7; }
  .topic-name-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdc3c7; }
  .topic-name-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdc3c7; }
  .topic-name-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bdc3c7; }
