<script type="text/javascript">
var onSelectAttribute = function( model_attribute ) {
	if ( model_attribute.value !== "NONE" ) {
		window.location.href = "http://{{=server_identifier}}/{{=dataset_identifier}}/{{=model_type}}/" + model_attribute.value;
	}
}
var onSelectParams = function( params ) {
	window.location.href = "http://{{=server_identifier}}/{{=dataset_identifier}}/{{=model_type}}/{{=model_attribute}}" + params.value;
}
</script>

<div class="head">
	<div class="title">Termite Web Server</div>
	<div class="sep">http://</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}">{{=server_identifier}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}/{{=dataset_identifier}}">{{=dataset_identifier}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}/{{=dataset_identifier}}/{{=model_type}}">{{=model_type}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle">
		<select onchange="onSelectAttribute(this)">
			{{for n, attr in enumerate(model_attributes):}}
			<option value="{{=attr}}" {{if model_attribute == attr:}}selected="selected"{{pass}}>{{=attr}}</option>
			{{pass}}
		</select>
	</div>
</div>

{{
	def QueryString( key = None, value = None ):
		query = { key : request.vars[key] for key in request.vars }
		if key is not None:
			query[ key ] = value
		pass
		if len(query) > 0:
			query = '?' + '&'.join( [ '{}={}'.format( key, value ) for key, value in query.iteritems() ] )
		else:
			query = ''
		pass
		return query
}}
