<div class="sep">/</div>
<div class="subtitle">
	<select onchange="onSelectModel(this)">
		<option value="NONE" {{if configs['model'] == 'default':}}selected="selected"{{pass}}>&mdash; Visualizations &mdash;</option>
		{{for d in menus['visualizations']:}}
			<option value="{{=d['value']}}" {{if configs['model'] == d['value']:}}selected="selected"{{pass}}>{{=d['name']}}</option>
		{{pass}}
		<option value="NONE">&nbsp;</option>
		<option value="NONE">&mdash; Models &mdash;</option>
		{{for d in menus['models']:}}
			<option value="{{=d['value']}}" {{if configs['model'] == d['value']:}}selected="selected"{{pass}}>{{=d['name']}}</option>
		{{pass}}
	</select>
</div>
