<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Termite Data Server | {{=configs['dataset']}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="{{=URL('static','css/termite.css')}}" />
	<link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}" />
	<script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/underscore.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/backbone.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/d3.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/vega.js')}}"></script>
</head>

{{
	import urllib
	def GenerateQueryString( keysAndValues = {} ):
		query = { key : request.vars[ key ] for key in request.vars }
		query.update( keysAndValues )
		for key in query.keys():
			if query[ key ] is None:
				del query[ key ]
			pass
		if len(query) > 0:
			return '?' + urllib.urlencode(query)
		return ''
		pass
	pass
	def WriteQueryString( keysAndValues = {} ):
		response.write( GenerateQueryString(keysAndValues), escape = False )
	pass
	def GenerateURL( keysAndValues = {} ):
		return configs['url'] + GenerateQueryString( keysAndValues )
	pass
	def WriteURL( keysAndValues = {} ):
		response.write( GenerateURL(keysAndValues), escape = False )
	pass
}}

{{
	import json
	def WriteJSON( data ):
		response.write( json.dumps( data, encoding = 'utf-8', indent = 2, sort_keys = True ), escape = False )
	pass
}}
<body>
	{{include}}
</body>
</html>
