<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Termite Web Server | {{=configs['dataset']}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="{{=URL('static','css/termite.css')}}" />
	<link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}" />
	<script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/underscore.js')}}"></script>
</head>
<body>
	{{include}}
</body>
</html>
