{{extend 'template.html'}}
{{include 'server.html'}}

<div class="info">
	<div class="heading">Server for Topic Model Visualization</div>
	<div class="content">This server reads the output of <a href="http://www.cs.umd.edu/~ynhu/">tree topic models</a> and distributes the content over the internet. For more information, see the <a href="http://github.com/uwdata/termite-treetm">termite-treetm</a> github repository.</div>

	<div class="heading">Setting up the 20-newsgroup dataset</div>
	<div class="content">Run the following command to build three LDA models with 10, 15, and 20 latent topics. On a MacBook Pro, training takes about 15-20 minutes. Currently done in MALLET, but will switch over to TreeTM once we start exploring interactive updates.</div>
	<div class="code">make</div>

	<div class="heading">Accessing the 20-newsgroup topic models</div>
	<div class="content">Once the web server is launched, data needed by group-in-a-box visualization can be access via:</div>
	<div class="code"><a href="http://{{=request.env['HTTP_HOST']}}/10newsgroups/vis/GroupInABox">http://127.0.0.1:8075/10newsgroups/vis/GroupInABox</a>
<a href="http://{{=request.env['HTTP_HOST']}}/15newsgroups/vis/GroupInABox">http://127.0.0.1:8075/15newsgroups/vis/GroupInABox</a>
<a href="http://{{=request.env['HTTP_HOST']}}/20newsgroups/vis/GroupInABox">http://127.0.0.1:8075/20newsgroups/vis/GroupInABox</a></div>
</div>

<div class="body">
	<div class="heading">Server Response
		<span class="extra">(<a href="http://{{=request.env['HTTP_HOST']+request.env['PATH_INFO']}}?format=json">Display as a JSON object</a>)</span>
	</div>
	<div class="content">{{=content}}</div>
</div>
