<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Termite Data Server | {{=configs['server']}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="{{=URL('static','css/termite.css')}}" />
</head>

{{
	import urllib
	def GetURL( keysAndValues = {} ):
		query = { key : request.vars[ key ] for key in request.vars }
		query.update( keysAndValues )
		for key in query.keys():
			if query[ key ] is None:
				del query[ key ]
			pass
		if len(query) > 0:
			return configs['url'] + '?' + urllib.urlencode(query)
		else:
			return configs['url']
		pass
	pass
}}

<body>
	{{include}}
</body>
</html>
