{{extend 'layout.html'}}

<script type="text/javascript">
var onSelectModel = function( srcElement ) {
	if ( srcElement.value !== "NONE" ) {
		window.location.href = "http://{{=server_identifier}}/{{=dataset_identifier}}/" + srcElement.value;
	}
}
</script>

<div class="head">
	<div class="title">Termite Web Server</div>
	<div class="sep">http://</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}">{{=server_identifier}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}/{{=dataset_identifier}}">{{=dataset_identifier}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle">
		<select onchange="onSelectModel(this)">
			<option value="NONE">&mdash; Available Models &mdash;</option>
			{{for value in model_types:}}
			<option value="{{=value}}">{{=value}}</option>
			{{pass}}
		</select>
	</div>
</div>

<div class="body">
	<div class="heading">Server Response
		<span class="extra">(<a href="http://{{=request.env['HTTP_HOST']}}{{=request.env['PATH_INFO']}}?format=json">Display as a JSON object</a>)</span>
	</div>
	<div class="content">{{=content}}</div>
</div>
