{{extend 'template.html'}}

<script type="text/javascript">
var onSelectAttribute = function( select ) {
	if ( select.value !== "NONE" ) {
		window.location.href = "http://{{=server_identifier}}/{{=dataset_identifier}}/{{=model_type}}/" + select.value;
	}
}
</script>

<div class="head">
	<div class="title">Termite Web Server</div>
	<div class="sep">http://</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}">{{=server_identifier}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}/{{=dataset_identifier}}">{{=dataset_identifier}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle"><a href="http://{{=server_identifier}}/{{=dataset_identifier}}/{{=model_type}}">{{=model_type}}</a></div>
	<div class="sep">/</div>
	<div class="subtitle">
		<select onchange="onSelectAttribute(this)">
			<option value="NONE">&mdash; Available Attributes &mdash;</option>
			{{for n, model_attribute in enumerate(model_attributes):}}
			<option value="{{=model_attribute}}">{{=model_attribute}}</option>
			{{pass}}
		</select>
	</div>
</div>

<div class="body">
	<div class="heading">Server Response</div>
	<div class="content">{{=content}}</div>
</div>
