{{extend 'template.html'}}

<div class="head">
	<div class="title">Termite Data Server</div>
	{{include 'select_server.html'}}
	{{include 'select_dataset.html'}}
	{{include 'select_model.html'}}
	{{include 'select_attribute.html'}}
</div>

<div class="body">
	<div class="heading">Method: <b>bow/TermCoProbs</b></div>
	<div class="info">
		Compute the probability of a pair of terms occurring in the same document.
	</div>
	{{include 'insert_request.html'}}
	<div class="params">
		<p>
			<span class="key">termLimit = </span>
			<span class="value">{{MakeParamRange('termLimit', TermLimit, TermCount)}}</span>
		</p>
		<p>
			<span class="key">termOffset = </span>
			<span class="value">{{MakeParamRange('termOffset', TermOffset, TermCount)}}</span>
		</p>
		<p>
			<span class="key">format = </span>
			<span class="value">{{MakeParamFormat()}}</span>
		</p>
	</div>
	{{include 'insert_response.html'}}
</div>
