{{extend 'template.html'}}
{{include 'server.html'}}

<div class="info">
	<div class="heading">Data Server for Topic Models</div>
	<div class="content">Termite is a visualization tool for inspecting the output of statistical topic models. The tool contains two components: data servers and web-based visualizations.</div>
	<div class="content">This is a data server for processing the output of topic models (e.g., built using <a href="http://mallet.cs.umass.edu/">MALLET</a>, <a href="http://www.cs.umd.edu/~ynhu/">ITM</a>, <a href="http://structuraltopicmodel.com">STM</a>, etc.) and distributing the content as a web service. For more information, see the <a href="http://github.com/uwdata/termite-data-server">Termite Data Server GitHub repository</a>.</div>

	<div class="heading">API Format</div>
	<div class="code">http:// [server] / [dataset] / [model] / [attribute]</div>
	<div class="content">By default, this server generates a human-readable HTML document (like this page!). To request a machine-readable response in JSON format, append <span class="code"><a href="http://{{=request.env['HTTP_HOST']+request.env['PATH_INFO']}}?format=json">?format=json</a></span> to any GET or POST actions.</div>
</div>

<div class="body">
	<div class="heading">Server Response
		<span class="format">(
			{{if configs['is_text']:}}<b>Text format</b>{{else:}}<a href="{{=GenerateURL({'format':None})}}">Text format</a>{{pass}} | 
			<a href="{{=GenerateURL({'format':'json'})}}">Save as JSON</a> 
		)</span>
	</div>

	<div class="content">{{=content}}</div>
</div>
