{{extend 'template.html'}}
{{include 'attribute.html'}}

<div class="body">
	<div class="heading">Request Parameters</div>
	<div class="params">
		<div class="param">xAxis = 
			<select onchange="onSelectParam(this)">
				<option value="{{WriteURL({'xAxis':None})}}" {{if params['xAxis'] is None:}}selected="selected"{{pass}}>&mdash;</option>
				{{for dim in AvailableXDims:}}
					<option value="{{WriteURL({'xAxis':dim['name']})}}" {{if params['xAxis'] == dim['name']:}}selected="selected"{{pass}}>{{=dim['label']}}</option>
				{{pass}}
			</select>
		</div>
		<div class="param">yAxis = 
			<select onchange="onSelectParam(this)">
				<option value="{{WriteURL({'yAxis':None})}}" {{if params['yAxis'] is None:}}selected="selected"{{pass}}>&mdash;</option>
				{{for dim in AvailableYDims:}}
					<option value="{{WriteURL({'yAxis':dim['name']})}}" {{if params['yAxis'] == dim['name']:}}selected="selected"{{pass}}>{{=dim['label']}}</option>
				{{pass}}
			</select>
		</div>
		<div class="param">docLimit = 
			<select onchange="onSelectParam(this)">
				{{for n in [5,10,20,50,100,200,500]:}}
					<option value="{{WriteURL({'docLimit':n})}}" {{if params['docLimit'] == n:}}selected="selected"{{pass}}>{{=n}}</option>
				{{pass}}
			</select>
		</div>
		<div class="extra"><i>Or simply type in a URL into your browser</i> &nbsp; <i class="fa fa-level-up fa-2x"></i></div>
	</div>

	<div class="heading">Server Response
		<span class="format">(
			{{if configs['is_text']:}}<b>Text format</b>{{else:}}<a href="{{=GenerateURL({'format':None})}}">Text format</a>{{pass}} | 
			{{if configs['is_graph']:}}<b>Graph format</b>{{else:}}<a href="{{=GenerateURL({'format':'graph'})}}">Graph format</a>{{pass}} | 
			<a href="{{=GenerateURL({'format':'json'})}}">Save as JSON</a> | 
			<a href="{{=GenerateURL({'format':'csv'})}}">Save as CSV</a> | 
			<a href="{{=GenerateURL({'format':'tsv'})}}">Save as TSV</a> | 
			<a id="SaveAsPNG" style="cursor:pointer">Save as PNG</a> 
		)</span>
	</div>

{{if configs['is_text']:}}
	<div class="content">{{=content}}</div>
{{pass}}
{{if configs['is_graph']:}}
	<div class="content"><div id="view" class="view"></div></div>
{{pass}}
</div>

<script type="text/javascript">
var spec = {
	"width": 800,
	"height": 600,
	"padding": {
		"left" : 60,
		"right" : 20,
		"top" : 20,
		"bottom" : 40
	},
	"data": [
		{
			"name": "ScatterPlot",
		}
	],
	"scales": [],
	"marks": [
		{
			"properties": {
				"enter": {
					"x": {
						"value": 0
					},
					"width": {
						"value": 720
					},
					"y": {
						"value": 0
					},
					"height": {
						"value": 540
					},
					"clip": {
						"value": 0
					},
					"fill": {
						"value": "#ffffff"
					},
					"fillOpacity": {
						"value": 1
					},
					"stroke": {
						"value": "#000000"
					},
					"strokeWidth": {
						"value": 0
					}
				}
			},
			"scales": [
				{
					"type": "linear",
					"points": true,
					"nice": false,
					"padding": 0,
					"zero": true,
					"name": "ScatterPlot_scale_xAxis",
					"domain": {
						"data": "ScatterPlot",
						"field": "data.x"
					},
					"inheritFromGroup": false,
					"range": "width"
				},
				{
					"type": "linear",
					"points": true,
					"nice": true,
					"padding": 0,
					"zero": true,
					"name": "ScatterPlot_scale_yAxis",
					"domain": {
						"data": "ScatterPlot",
						"field": "data.y"
					},
					"inheritFromGroup": false,
					"range": "height"
				}
			],
			"axes": [
				{
					"type": "x",
					"orient": "bottom",
					"scale": "ScatterPlot_scale_xAxis",
					"title": "X",
					"layer": "back",
					"ticks": 10,
					"tickSize": 6,
					"titleOffset": 35,
					"properties": {
						"ticks": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 1
							}
						},
						"labels": {
							"fontSize": {
								"value": 11
							},
							"font": {
								"value": "Helvetica"
							},
							"angle": {
								"value": 0
							},
							"fill": {
								"value": "#000"
							}
						},
						"title": {
							"font": {
								"value": "Helvetica"
							},
							"fontSize": {
								"value": 11
							},
							"fontWeight": {
								"value": "bold"
							},
							"fill": {
								"value": "#000"
							}
						},
						"axis": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 1
							}
						},
						"grid": {
							"stroke": {
								"value": "#d8d8d8"
							},
							"strokeWidth": {
								"value": 1
							}
						}
					}
				},
				{
					"type": "y",
					"orient": "left",
					"scale": "ScatterPlot_scale_yAxis",
					"title": "Y",
					"layer": "back",
					"ticks": 10,
					"tickSize": 6,
					"titleOffset": 35,
					"properties": {
						"ticks": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 1
							}
						},
						"labels": {
							"fontSize": {
								"value": 11
							},
							"font": {
								"value": "Helvetica"
							},
							"angle": {
								"value": 0
							},
							"fill": {
								"value": "#000"
							}
						},
						"title": {
							"font": {
								"value": "Helvetica"
							},
							"fontSize": {
								"value": 11
							},
							"fontWeight": {
								"value": "bold"
							},
							"fill": {
								"value": "#000"
							}
						},
						"axis": {
							"stroke": {
								"value": "#000"
							},
							"strokeWidth": {
								"value": 1
							}
						},
						"grid": {
							"stroke": {
								"value": "#d8d8d8"
							},
							"strokeWidth": {
								"value": 1
							}
						}
					}
				}
			],
			"marks": [
				{
					"properties": {
						"enter": {
							"x": {
								"scale": "ScatterPlot_scale_xAxis",
								"field": "data.x"
							},
							"y": {
								"scale": "ScatterPlot_scale_yAxis",
								"field": "data.y"
							},
							"size": {
								"value": 100
							},
							"shape": {
								"value": "circle"
							},
							"fill": {
								"value": "#4682b4"
							},
							"fillOpacity": {
								"value": 1
							},
							"stroke": {
								"value": "#000000"
							},
							"strokeWidth": {
								"value": 0.25
							}
						}
					},
					"name": "symbol_1396640516071",
					"type": "symbol",
					"from": {
						"data": "ScatterPlot"
					}
				}
			],
			"name": "layer_0",
			"type": "group",
			"from": {}
		}
	]
};

var data = {
	"ScatterPlot" : {{WriteJSON(ScatterPlot)}}
};

vg.parse.spec( spec, function( chart ) {
	var view = chart({ el:"#view", data:data }).update();
	var png = $('#view canvas')[0].toDataURL('image/png');
	d3.select("#SaveAsPNG")
		.attr("href", png)
		.attr("download", "ScatterPlot.png");
});
</script>
