#opacity-slider, #radius-slider {
	display:inline-block;
	width:200px;
}


.control {
	display:inline-block;
	margin:8px;
	padding-bottom:10px;
}

#top-controls {
	text-align:center;
	border-bottom:1px solid #d3d3d3;
/* 	height:80px; */

}